body {
    
    font-size: 1em;
    -webkit-text-size-adjust: 100%;
    background-color: #2a2a2a;
    
}

@media (min-width:800px) {
    #logo1 {
        margin-right: 80px;
        margin-left: 80px;
        margin-top: 20px;
    }

    nav {
        display: flex;
        justify-content: space-around;
        
    }

}

header {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;

}

/*Ligne blanche horizontale*/

.barHorz {
    position: absolute;
    content: '';
    width: 0; 
    height: 5px; 
} 

.barLeft2 {
    left: 0; 
    background: white;
    transform-origin: left center;
    animation: animBarHorz 5s ease forwards;
}


@keyframes animBar {
    0% { height: 0 }
    100% { height: 500px; }
}

@keyframes animBarHorz {
    0% { width: 0 }
    100% { width: 100%; }
}

*,*::before,*::after { box-sizing: border-box; }
html { height: 100%; }
h1,h2,h3 { font-family: 'Crimson Text', sans-serif; font-weight: 100; }
body {
    font-family: 'Josefin Sans', sans-serif;
    background: radial-gradient(#121212, #000); 
    height: 100%;
    color: #aaa;
    padding: 100px;
}




}

nav {
    display: flex;
    flex-direction: column;
    /*    desktop: justify-content: space-around*/
}

section {
    margin: auto;
    padding: 20px;
    text-align: center;

}

section p:hover {
    color: #fa3de4;

}

section p {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5em;

}


header p {

    color: #32efc9;
    font-family: 'Fjalla One', sans-serif;
    font-size: 75px;

}

h1 {
    color: #32efc9;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 2em;
}
